# Byte-compile / optimization files
__pycache__/
*.py[cod]
*$$py.class

# pyenv
.python-version

# Environments
env/
venv/

#trained models
trained_models/

.vscode/

description.txt

logs/
Model_Visualisation/